<div class="content" style="border: 1px solid red">
  <div class="row">
    <div class="col-sm-6">
      {{ content.field_titre_du_bloc }}
    </div>
  </div>
   <div class="row">
     <div class="col-sm-4">
       {{ content.field_remontee_de_contenu }}
     </div>
   </div>
</div>
<div class="row"></div>
